@model NikeFarms.v2._0.Models.ViewModels.AdminDashboardVM

@{ ViewBag.Title = "Admin Dashboard"; }
@{
    Layout = "_AdminDashboard";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="CodedThemes">
    <meta name="keywords"
          content=" Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="CodedThemes">
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/icon/themify-icons/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="assets/icon/icofont/css/icofont.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="assets/css/jquery.mCustomScrollbar.css">
</head>

<body>


    <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
                <div class="page-wrapper">

                    <div class="page-body">
                        <div class="row">
                            <div class="col-md-6 col-xl-3">
                                <div class="card widget-card-1">
                                    <div class="card-block-small">
                                        <i class="icofont icofont-layers  bg-c-pink card1-icon"></i>
                                        <span class="text-c-pink f-w-600">Revenue</span>
                                        <h4 style="color:grey; font-family:'Times New Roman'">&#8358 <span class="comma">@Model.Revenue</span></h4>
                                        <div>
                                            <span class="f-left m-t-10 text-muted">
                                                <i class="text-c-pink f-16 icofont icofont-calendar m-r-10"></i>Total Revenue
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-xl-3">
                                <div class="card widget-card-1">
                                    <div class="card-block-small">
                                        <i class="icofont icofont-bill bg-c-blue card1-icon"></i>
                                        <span class="text-c-blue f-w-600">Expenses</span>
                                        <h4 style="color: grey; font-family: 'Times New Roman'">&#8358 <span class="comma">@Model.Expenses</span></h4>
                                        <div>
                                            <span class="f-left m-t-10 text-muted">
                                                <i class="text-c-blue f-16 icofont icofont-warning m-r-10"></i>Feeds , Meds, Others..
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-xl-3">
                                <div class="card widget-card-1">
                                    <div class="card-block-small">
                                        <i class="icofont icofont-money-bag bg-c-green card1-icon"></i>
                                        <span class="text-c-green f-w-600">Profit</span>
                                        @if (Model.Profit < 0)
                                        {
                                            <h4 style="color: red; font-family: 'Times New Roman'">&#8358 <span class="comma">@Model.Profit</span>!!</h4>
                                        }
                                        else
                                        {
                                            <h4 style="color: grey; font-family: 'Times New Roman'">&#8358 <span class="comma">@Model.Profit</span></h4>
                                        }

                                        <div>
                                            <span class="f-left m-t-10 text-muted">
                                                <i class="text-c-green f-16 icofont icofont-tag m-r-10"></i>So Far..
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xl-3">
                                <div class="card widget-card-1">
                                    <div class="card-block-small">
                                        <i class="icofont icofont-sale-discount bg-c-yellow card1-icon"></i>
                                        <span class="text-c-yellow f-w-600">Sales</span>
                                        <h4 style="color: grey; font-family: 'Times New Roman'">+<span class="comma">@Model.SalesCount</span></h4>
                                        <div>
                                            <span class="f-left m-t-10 text-muted">
                                                <i class="text-c-yellow f-16 icofont icofont-refresh m-r-10"></i>Just
                                                updated
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-8">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Mortalities</h5>
                                        <div class="card-header-left">
                                        </div>
                                        <div class="card-header-right">
                                            <ul class="list-unstyled card-option">
                                                <li><i class="icofont icofont-simple-left "></i></li>
                                                <li><i class="icofont icofont-maximize full-card"></i></li>
                                                <li><i class="icofont icofont-minus minimize-card"></i></li>
                                                <li><i class="icofont icofont-refresh reload-card"></i></li>
                                                <li><i class="icofont icofont-error close-card"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <div id="statestics-chart" style="height:517px;"></div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-md-12 col-xl-4">
                                <div class="card fb-card">
                                    <div class="card-header">
                                        <i class="icofont icofont-skull-danger"></i>
                                        <div class="d-inline-block">
                                            <h5>mortality</h5>
                                            <span>death of birds</span>
                                        </div>
                                    </div>
                                    <div class="card-block text-center">
                                        <div class="row">
                                            <div class="col-6 b-r-default">
                                                <h2 style="color: grey; font-family: 'Times New Roman'"><span class="comma">@Model.ActiveMortality</span></h2>
                                                <p class="text-muted">Active</p>
                                            </div>
                                            <div class="col-6">
                                                <h2 style="color: grey; font-family: 'Times New Roman'">+<span class="comma">@Model.AllMortality</span></h2>
                                                <p class="text-muted">All</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card dribble-card">
                                    <div class="card-header">
                                        <i class="icofont icofont-food-basket"></i>
                                        <div class="d-inline-block">
                                            <h5>feeds</h5>
                                            <span>feeds analysis (In Bags)</span>
                                        </div>
                                    </div>
                                    <div class="card-block text-center">
                                        <div class="row">
                                            <div class="col-6 b-r-default">
                                                <h2 style="color: grey; font-family: 'Times New Roman'"><span class="comma">@Model.ActiveFeed</span></h2>
                                                <p class="text-muted">Active</p>
                                            </div>
                                            <div class="col-6">
                                                <h2 style="color: grey; font-family: 'Times New Roman'"><span class="comma">@Model.AllFeed</span>+</h2>
                                                <p class="text-muted">All</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card twitter-card">
                                    <div class="card-header">
                                        <i class="icofont icofont-medical-sign-alt"></i>
                                        <div class="d-inline-block">
                                            <h5>medication</h5>
                                            <span>medication analysis (units)</span>
                                        </div>
                                    </div>
                                    <div class="card-block text-center">
                                        <div class="row">
                                            <div class="col-6 b-r-default">
                                                <h2 style="color: grey; font-family: 'Times New Roman'"><span class="comma">@Model.ActiveMed</span></h2>
                                                <p class="text-muted">Active</p>
                                            </div>
                                            <div class="col-6">
                                                <h2 style="color: grey; font-family: 'Times New Roman'"><span class="comma">@Model.AllMed</span>+</h2>
                                                <p class="text-muted">All</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="styleSelector">

    </div>

    <script type="text/javascript" src="assets/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="assets/js/popper.js/popper.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="assets/js/modernizr/modernizr.js"></script>
    <script src="assets/pages/widget/amchart/amcharts.min.js"></script>
    <script src="assets/pages/widget/amchart/serial.min.js"></script>
    <script type="text/javascript " src="assets/pages/todo/todo.js "></script>
    <script type="text/javascript" src="assets/pages/dashboard/custom-dashboard.js"></script>
    <script type="text/javascript" src="assets/js/script.js"></script>
    <script type="text/javascript " src="assets/js/SmoothScroll.js"></script>
    <script src="assets/js/pcoded.min.js"></script>
    <script src="assets/js/demo-12.js"></script>
    <script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script>
        var $window = $(window);
        var nav = $('.fixed-button');
        $window.scroll(function () {
            if ($window.scrollTop() >= 200) {
                nav.addClass('active');
            }
            else {
                nav.removeClass('active');
            }
        });
    </script>
    <script>

        function numberWithCommas(x) {
            let newNumber = x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
            return newNumber
        }


        let comma = document.getElementsByClassName("comma");


        for (var i = 0; i < comma.length; i++) {
            let result = numberWithCommas(comma[i].innerHTML);
            document.getElementsByClassName("comma")[i].innerHTML = result;
        }


    </script>
</body>

</html>
