@model List<NikeFarms.v2._0.Models.ViewModels.ListStoreItemVM>
@{ ViewBag.Title = "Store"; }
@if (ViewBag.Role == "Admin")
{
    Layout = "_AdminDashboard";
}
else
{
    Layout = "_StoreManagerDashboard";
}


<br />
<h1 class="text-center"><i class="fas fa-shopping-cart"></i>  Store Items</h1>

<div class="card">
    <div>
        <br />
        @if (ViewBag.Role != "Admin")
        {
            <a class="btn font-weight-bold ml-4" asp-controller="StoreItem" asp-action="AddStoreItem" style="background-color:darkgoldenrod"><i class="fas fa-plus"></i> Add Store Item</a>
        }

        @if (Model.Count() > 0)
        {
            <div class="card-body">
                <table class="table table-bordered ">
                    <thead>
                        <tr>

                            <th> Name</th>
                            <th>Item Per Kg</th>
                            <th> Total No. Purchased </th>
                            <th> Item Remaining </th>
                            <th> Price Purchased (&#8358 )</th>
                            @if (ViewBag.Role != "Admin")
                            {

                                <th>Action</th>
                            }

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var store in Model)
                        {
                            string modalId = $"exampleModalCenter{store.Id}";
                            string modalIdHash = $"#exampleModalCenter{store.Id}";
                        <tr>

                            <td class="font-weight-bolder">
                                <span style="color:darkred">*</span> @store.Name @if (store.IsApproved == true)
                                {<span><a class="btn font-weight-bold" style="background-color: greenyellow; color: white; margin-left: 20%; border-radius: 60%" href="#"><i class="fas fa-check"></i></a></span>}
                            </td>
                            @if (store.ItemPerKg == null)
                            {
                                <td class="font-weight-bold" style="color:red">Null</td>
                            }
                            else
                            {
                                <td> <span class="comma">@store.ItemPerKg</span> <span class="font-weight-bold">Kg</span></td>
                            }

                            @if (store.ItemType == "Feed")
                            {
                                <td> <span class="comma">@store.NoOfItem</span> <span class="font-weight-bold">Bag(s)</span></td>
                            }
                            else
                            {
                                <td> <span class="comma">@store.NoOfItem</span> <span class="font-weight-bold">Unit(s)</span></td>
                            }

                            @if (store.ItemType == "Feed")
                            {
                                @if (store.ItemRemaining < 11)
                                {
                                    <td style="color: red"><span class="comma">@store.ItemRemaining</span> <span class="font-weight-bold">Bag(s) !!</span></td>
                                }
                                <td><span class="comma">@store.ItemRemaining</span> <span class="font-weight-bold">Bag(s)</span></td>
                            }
                            else
                            {
                                @if (store.ItemRemaining < 11)
                                {
                                    <td style="color: red"><span class="comma">@store.ItemRemaining</span> <span class="font-weight-bold">Unit(s) !!</span></td>
                                }
                                <td><span class="comma">@store.ItemRemaining</span> <span class="font-weight-bold">Unit(s)</span></td>
                            }
                            <td> &#8358 <span class="comma">@store.TotalPricePurchased</span></td>
                            @if (ViewBag.Role != "Admin")
                            {
                                @if (store.IsApproved == false && store.CreatedBy == ViewBag.UserName)
                                {
                                    <td>
                                        <a class="btn font-weight-bold" asp-action="UpdateStoreItem" asp-route-id="@store.Id" style="background-color:greenyellow; color:white">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a class="btn font-weight-bold" style="background-color:red; color:white" data-toggle="modal" data-target=@modalIdHash>
                                            <i class="fas fa-trash-alt"></i>
                                        </a>


                                        <div class="modal fade" id=@modalId tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title font-weight-bolder" style="color:red" id="exampleModalLongTitle">Delete Store Item <i class="fas fa-trash-alt"></i> </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <br /><span class="font-weight-bolder text-center">Are you Sure you want to delete Store Item: <span style="color:darkred">@store.Name (Qty: @store.NoOfItem) ??</span></span>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a class="btn font-weight-bold" style="background-color:red; color:white" asp-action="Delete" asp-route-id="@store.Id">Yes</a>
                                                        <a class="btn font-weight-bold" style="background-color:greenyellow; color:white" data-dismiss="modal">No</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                }
                            }

                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <br /><br />
            <h4 class="text-center font-weight-bolder" style="color:darkred">Store is Empty! </h4>
        }
    </div>
</div>


<script>
    //$('#example').dataTable({
    //});

    function numberWithCommas(x) {
        let newNumber = x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
        return newNumber
    }


    let comma = document.getElementsByClassName("comma");


    for (var i = 0; i < comma.length; i++) {
        let result = numberWithCommas(comma[i].innerHTML);
        document.getElementsByClassName("comma")[i].innerHTML = result;
    }


</script>