@model List<NikeFarms.v2._0.Models.ViewModels.ListFlockTypeVM>
@{ ViewBag.Title = "Flock Types"; }
@{
    Layout = "_StoreManagerDashboard";
}
<br />
<h1 class="text-center"><i class="fab fa-twitter"></i>  Flock Types</h1>

<div class="card">
    <div>
        <br />
        <a class="btn font-weight-bold ml-4" asp-controller="FlockType" asp-action="AddFlockType" style="background-color:darkgoldenrod"><i class="fas fa-plus"></i> Add Flock Types</a>
        @if (Model.Count() > 0)
        {
            <div class="card-body">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>

                            <th> Name</th>
                            <th> Description</th>
                            <th> Added By</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var flockType in Model)
                        {
                            string modalId = $"exampleModalCenter{flockType.Id}";
                            string modalIdHash = $"#exampleModalCenter{flockType.Id}";
                        <tr>

                            <td class="font-weight-bolder"><span style="color:darkred">*</span> @flockType.Name</td>
                            <td >@flockType.Description</td>
                            <td >@flockType.CreatedBy</td>
                            <td>
                                <a class="btn font-weight-bold" asp-action="UpdateFlockType" asp-route-id="@flockType.Id" style="background-color:greenyellow; color:white">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn font-weight-bold" style="background-color:red; color:white" data-toggle="modal" data-target=@modalIdHash>
                                    <i class="fas fa-trash-alt"></i>
                                </a>


                                <div class="modal fade" id=@modalId tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title font-weight-bolder" style="color:red" id="exampleModalLongTitle">Delete User <i class="fas fa-trash-alt"></i> </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <span class="font-italic">Are you sure you want to delete </span> <br /><br /> <span class="font-weight-bolder text-center">Are you Sure you want to delete Flock Type: <span style="color:darkred">@flockType.Name ??</span></span>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="btn font-weight-bold" style="background-color:red; color:white" asp-action="Delete" asp-route-id="@flockType.Id">Yes</a>
                                                <a class="btn font-weight-bold" style="background-color:greenyellow; color:white" data-dismiss="modal">No</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>


                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <br /><br />
            <h4 class="text-center font-weight-bolder" style="color:red">No Flock Type has been Added! </h4>
        }
    </div>
</div>