@model PaginatedList<NikeFarms.v2._0.Models.ViewModels.ListStockVM>
@{ ViewBag.Title = "Stocks"; }
@if (ViewBag.Role == "Admin")
{
    Layout = "_AdminDashboard";
}
else if (ViewBag.Role == "Store Manager")
{
    Layout = "_StoreManagerDashboard";
}
else
{
    Layout = "_SalesManagerDashboard";
}

<br />
<h1 class="text-center"><i class="fas fa-layer-group"></i>  Stocks</h1>

<div class="card">
    <div>
        <br />
        <form asp-action="Index" method="get" style="margin-left:70%">

            <input class="form-control col-md-10" style="margin-bottom:5%" type="search" placeholder="Search (Item Type)..." name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-outline-secondary" /> |
            <a style="color:darkred" asp-action="Index">Back to Full List</a>

        </form>
        @if (ViewBag.Role == "Store Manager")
        {
            <a class="btn font-weight-bold ml-4" asp-controller="Stock" asp-action="AddStock" style="background-color:darkgoldenrod"><i class="fas fa-plus"></i> Stock Goods</a>
        }


        @if (Model.Count() > 0)
        {
            <div class="card-body">
                <table class="table table-bordered ">
                    <thead>
                        <tr>

                            <th> Batch No.</th>
                            <th> Item Type </th>
                            <th> No. Stocked </th>
                            <th> Item Remaining</th>
                            <th> Price (&#8358 ) </th>
                            <th> Date </th>
                            <th> Created By</th>
                            @if (ViewBag.Role == "Store Manager")
                            {

                                <th>Action</th>
                            }
                            else
                            {
                                <th>Updated At</th>
                            }

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var stock in Model)
                        {
                            string modalId = $"exampleModalCenter{stock.Id}";
                            string modalIdHash = $"#exampleModalCenter{stock.Id}";
                            <tr>

                                <td class="font-weight-bolder">
                                    <span style="color:darkred">*</span> @stock.FlockBatchNo
                                </td>
                                <td>@stock.Item</td>
                                @if (stock.Item == "Birds")
                                {
                                    <td><span class="comma">@stock.NoOfItem</span> Bird(s)</td>
                                }
                                else
                                {
                                    <td><span class="comma">@stock.NoOfItem</span> Crate(s)</td>
                                }

                                @if (stock.Item == "Birds")
                                {
                                    @if (stock.AvailableItem < 11)
                                    {
                                        <td style="color: red"><span class="comma">@stock.AvailableItem</span> <span class="font-weight-bold">Bird(s) !!</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="comma">@stock.AvailableItem</span> <span class="font-weight-bold">Bird(s)</span></td>
                                    }
                                }
                                else
                                {
                                    @if (stock.AvailableItem < 11)
                                    {
                                        <td style="color: red"><span class="comma">@stock.AvailableItem</span> <span class="font-weight-bold">Crate(s) !!</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="comma">@stock.AvailableItem</span> <span class="font-weight-bold">Crate(s)</span></td>
                                    }
                                }

                                @if (stock.Item == "Birds")
                                {
                                    <td><span class="comma">@stock.PricePerBird</span> (Per Bird) <br /><span class="font-weight-bolder" style="color:darkgoldenrod; border-color: red; font-size: 12px; margin-left:40%">&#8358 <span class="comma">@stock.EstimatedPricePerBird</span></span></td>
                                }

                                else
                                {
                                    <td><span class="comma">@stock.PricePerCrate</span> (Per Crate)</td>
                                }
                                <td class="font-weight-bold"> @stock.CreatedAt</td>
                                @if (stock.CreatedBy == ViewBag.UserName)
                                {
                                    <td style="color:darkred" class="font-weight-bolder">You</td>
                                }
                                else
                                {
                                    <td>@stock.CreatedBy</td>
                                }


                                @if (ViewBag.Role == "Store Manager")
                                {

                                    @if (stock.CreatedBy == ViewBag.UserName)
                                    {
                                        <td>
                                            <a class="btn font-weight-bold" asp-action="UpdateStock" asp-route-id="@stock.Id" style="background-color:greenyellow; color:white">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            @*<a class="btn font-weight-bold" style="background-color:red; color:white" data-toggle="modal" data-target=@modalIdHash>
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>


                                                <div class="modal fade" id=@modalId tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title font-weight-bolder" style="color:red" id="exampleModalLongTitle">Delete Stock <i class="fas fa-trash-alt"></i> </h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <br /> <span class="font-weight-bolder text-center">Are you Sure you want to delete Stock with Batch No: <span style="color:darkred">@stock.FlockBatchNo (@stock.NoOfItem) ??</span></span>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a class="btn font-weight-bold" style="background-color:red; color:white" asp-action="Delete" asp-route-id="@stock.Id">Yes</a>
                                                                <a class="btn font-weight-bold" style="background-color:greenyellow; color:white" data-dismiss="modal">No</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@
                                        </td>
                                    }

                                }
                                else
                                {
                                    @if (stock.UpdatedAt == null)
                                    {
                                        <td class="font-weight-bolder" style="color:red">Null</td>
                                    }
                                    else
                                    {
                                        string[] dateTime = stock.UpdatedAt.ToString().Split(" ");
                                        <td class="font-weight-bolder">@dateTime[0]</td>
                                    }
                                }


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <br /><br />
            <h4 class="text-center font-weight-bolder" style="color:darkred">Goods are Yet to be Stocked </h4>
        }
    </div>
</div>


<script>
    //$('#example').dataTable({
    //});

    function numberWithCommas(x) {
        let newNumber = x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
        return newNumber
    }


    let comma = document.getElementsByClassName("comma");


    for (var i = 0; i < comma.length; i++) {
        let result = numberWithCommas(comma[i].innerHTML);
        document.getElementsByClassName("comma")[i].innerHTML = result;
    }


</script>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>