@model PaginatedList<NikeFarms.v2._0.Models.ViewModels.ListMortalityVM>
@{ ViewBag.Title = "Mortality"; }
@{
    Layout = "_FarmManagerDashboard";
}

<br />
<h1 class="text-center" style="color:darkred"><i class="fas fa-skull-crossbones"></i>  Mortality </h1>
<br />

<div class="card">
    <div>
        <br />
        <form asp-action="Index" method="get" style="margin-left:70%">

            <input class="form-control col-md-10" style="margin-bottom:5%" type="search" placeholder="Search (Batch No)..." name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-outline-secondary" /> |
            <a style="color:darkred" asp-action="Index">Back to Full List</a>

        </form>
        <a class="btn font-weight-bold ml-4" asp-controller="Mortality" asp-action="AddMortality" style="background-color:darkgoldenrod"><i class="fas fa-plus"></i> Add Mortality</a>
        @if (Model.Count() > 0)
        {
            <div class="card-body">
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th> Batch No. </th>
                            <th>Mortality</th>
                            <td>Created At</td>
                            <th>Created By</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var mortality in Model)
                        {
                            string modalId = $"exampleModalCenter{mortality.Id}";
                            string modalIdHash = $"#exampleModalCenter{mortality.Id}";
                            <tr>

                                <td class="font-weight-bolder"><span style="color:darkred">*</span>@mortality.FlockDescription</td>

                                <td><span class="comma">@mortality.NoOfDeaths</span> Death(s)</td>
                                <td class="font-weight-bold">@mortality.CreatedAt</td>
                                @if (mortality.CreatedBy == ViewBag.UserName)
                                {
                                    <td class="font-weight-bold" style="color:darkred">You</td>
                                }
                                else
                                {
                                    <td>@mortality.CreatedBy</td>
                                }

                                @if (mortality.CreatedAt == DateTime.Now.ToShortDateString() && mortality.CreatedBy == ViewBag.UserName)
                                {
                                    <td>
                                        @*<a class="btn font-weight-bold" asp-action="UpdateMortality" asp-route-id="@mortality.Id" style="background-color:greenyellow; color:white">
                                            <i class="fas fa-edit"></i>
                                        </a>*@

                                        <a class="btn font-weight-bold" style="background-color:red; color:white" data-toggle="modal" data-target=@modalIdHash>
                                            <i class="fas fa-trash-alt"></i>
                                        </a>


                                        <div class="modal fade" id=@modalId tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title font-weight-bolder" style="color:red" id="exampleModalLongTitle">Delete Mortality <i class="fas fa-trash-alt"></i> </h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <br /> <span class="font-weight-bolder text-center">Are you Sure you want to delete this Mortality ??</span>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a class="btn font-weight-bold" style="background-color:red; color:white" asp-action="Delete" asp-route-id="@mortality.Id">Yes</a>
                                                        <a class="btn font-weight-bold" style="background-color:greenyellow; color:white" data-dismiss="modal">No</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                }



                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <br /><br />
            <h4 class="text-center font-weight-bolder" style="color:darkred">No Mortality Record Found! </h4>
        }
    </div>
</div>

<script>

    function numberWithCommas(x) {
        let newNumber = x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
        return newNumber
    }


    let comma = document.getElementsByClassName("comma");


    for (var i = 0; i < comma.length; i++) {
        let result = numberWithCommas(comma[i].innerHTML);
        document.getElementsByClassName("comma")[i].innerHTML = result;
    }


</script>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>


